# Environment variables file (VERY IMPORTANT)
# لا تقم أبدًا برفع هذا الملف إلى GitHub
.env

# Virtual Environment
.venv/
venv/

# Python cache & compiled files
__pycache__/
*.pyc

# Dependency installation folders
*.egg-info/

# Local database files
*.db
*.sqlite3

# IDE and OS specific files
.idea/
.vscode/

node_modules
.next
.DS_Store
*.log