# FastAPI and ASGI Server
fastapi
uvicorn
python-multipart

# Database
SQLAlchemy
psycopg2-binary

# Pydantic and Settings
pydantic
python-dotenv
email-validator

# Authentication & Security
passlib==1.7.4
bcrypt==3.2.0
python-jose