# FastAPI and ASGI Server
fastapi
uvicorn[standard]
python-multipart

# Database
SQLAlchemy>=1.4
psycopg2-binary

# Pydantic and Settings
pydantic>=2.0
python-dotenv
email-validator

# Authentication & Security
passlib==1.7.4
bcrypt==3.2.0
python-jose[cryptography]
slowapi

# Email
sendgrid

# Caching
redis>=4.0

# Test dependencies
pytest>=8.0.0
httpx>=0.27.0
